<!-- this is static content that is not changing -->
<app-navbar></app-navbar>



        <!-- This is an idea during creation of this project that
        1.jo pages hame url se open karane hote hai unhe ham pages nam ke folder me banate hai
        basically hai to o bhi ek component but diff karane ke liye aisa kar rahe hai
        2. jo componenet hame reuse karane hote hai unhe ham component nam ke foulder me banate hai
       example-- hamne is project me navbar banaya hai jis ko ham ne selector se bar bar use karane vale hai (usse ham url se use nahi karege) to use ham component foldar me rakh rahe hai.
       aur jo /signup hai use ham url se open karane vale hai to use ham pages me rakhege
    -->

    <!-- Dynamic content that is changing every time on moving to other pages -->
    <router-outlet></router-outlet>

	